@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

.scroll{
    scrollbar-width: none !important; 
}
::-webkit-scrollbar {
  display: none;
}

html, body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer */
}